###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/src/Service/Retail/Csv/
/public/bundles/
/public/assets/build/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> IDE settings ###
/.idea
###< IDE settings ###
###<DS Store ###
.DS_Store
###>DS Store ###
